body, html{
  --blue: #4357AE;
  --yellow: #FFE000;
  --pink: #E286EB;
  --aqua: #04A2B2;
  --orange: #FF6700;
  --dark-grey: #141414;
  --dark-grey-alpha: #141414CC;
  --light-grey: #282828;
  background-color: var(--dark-grey);
  color: white;
	margin: 0;
  margin-left: 2%;
	margin-right: 2%;
  padding: 0;
	height: 100%;
}

@font-face{
  font-family: 'Sequel 100 Wide 65';
  src: url('fonts/Sequel_100_Wide/Sequel 100 Wide 65.ttf');
}

@font-face{
  font-family: 'Sequel 100 Wide 55';
  src: url('fonts/Sequel_100_Wide/Sequel 100 Wide 55.ttf');
}

@font-face{
  font-family: 'Sequel Sans Body';
  src: url('fonts/Sequel_Sans/Sequel Sans Roman Body.ttf');
}

@font-face{
  font-family: 'Space Mono';
  src: url('fonts/Space_Mono/SpaceMono-Regular.ttf');
}

h1{
  font-family: 'Sequel 100 Wide 65';
  font-size: 2em;
}

h2{
  font-family: 'Sequel 100 Wide 55';
  font-size: 2em;
}

h3{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Sequel 100 Wide 55';
  font-size: 1.5em;
}

h4{
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: 'Sequel 100 Wide 55';
  font-size: 1.25em;
}

p{
  font-family: 'Sequel Sans Body';
  font-size: 1em;
}

ul{
  font-family: 'Sequel Sans Body';
  font-size: 1em;
}

a, a:visited{
	color: #FFFFFF;
	padding: 2px;
	text-decoration: underline;
}

a:hover{
	color: #FFF;
	background-color: var(--light-grey);
}

#menu a, #menu a:visited{
	color: #000;
	padding: 2px;
	text-decoration: none;
  background-color: #FFF;
}

#menu a:hover{
	color: #FFF;
	background: none;
}

#media-details a, #media-details a:visited{
  font-family: 'Space Mono';
  line-height: 34px;
  color: var(--dark-grey);
  text-decoration: none;
  padding: 4px;
  background-color: white;
  transition: background-color 0.2s ease-in, color 0.1s ease-in;
}

#media-details a:hover{
  background-color: var(--light-grey);
  color: white;
}

#media-details span{
  display: block;
  font-family: 'Space Mono';
  padding: 3px;
  background-color: var(--light-grey);
  color: white;
  font-size: .75em;
}

#media-details div{
  margin-top: 19px;
  margin-bottom: 19px;
}

.hero-text{
	white-space: pre-line;
}

.container{
  min-height: -webkit-calc(100% - 60px);
  min-height: -moz-calc(100% - 60px);
 	min-height: calc(100% - 60px);
	margin: auto;
	max-width: 1100px;
}

#ag{
	grid-area: ag;
}

#arch{
	grid-area: arch;
}

#media{
	grid-area: media;
}

#contact{
  grid-area: contact;
}

#ag-details{
	grid-area: ag-details;
}

#arch-details{
	grid-area: arch-details;
}

#media-details{
	grid-area: media-details;
}

#contact-details{
  grid-area: contact-details;
}

.detail{
	display: grid;
	grid-column-gap: 10%;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
}

.detail img{
  width: 90%;
  padding: 13px;
  background-color: var(--light-grey);
  border: 3px solid var(--light-grey);
}

.detail img.infographic{
  background-color: white;
  background-image: url('infographic-dot.png');
  background-repeat: repeat repeat;
}

.detail img.header-icon{
  margin-bottom: -10px;
  width: 30px;
  display: inline;
  background: none;
  border: none;
  padding: 0;
}

.detail p, ul{
  color: #DDD;
}

.detail ul{
	list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7px;
  margin: 0;
  padding: 0;
}

.detail ul li{
  color: var(--aqua);
  padding: 7px;
  background-color: #FFFFFF11;
}

.features{
	display: grid;
	grid-column-gap: 10%;
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas:
		'ag arch media contact'
		'ag-details ag-details ag-details ag-details'
		'arch-details arch-details arch-details arch-details'
		'media-details media-details media-details media-details'
		'contact-details contact-details contact-details contact-details';
}

@media (max-width: 900px) {
	.detail{
		grid-template-columns: 1fr;
	}
	.features{
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto auto auto auto;
  	grid-template-areas:
   		'ag'
			'ag-details'
			'arch'
			'arch-details'
			'media'
			'media-details'
      'contact'
			'contact-details';
	}
}

.hero-image{
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: -210px;
  margin-bottom: 30px;
}

.hero-image canvas{
  height: 400px;
  width: calc(100%);
  max-width: 375px;
}

.icon{
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: var(--dark-grey);
  border-radius: 60px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.icon.animate{
  opacity: 1;
}

.icon img{
  margin-left: -10px;
  margin-top: -10px;
  width: 80px;
}

.info{
  position: relative;
  z-index: 10000;
  width: 50%;
  background-color: var(--dark-grey-alpha);
}

.expander{
	justify-self: end;
  cursor: pointer;
  margin-top: .3em;
  font-family: 'Sequel 100 Wide 65';
  font-size: 2em;
}

.header{
  display: grid;
  grid-template-columns: 5fr 5fr;
	grid-template-rows: 1fr auto;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.header img.logo{
  width: 160px;
}

#menu-button{
	cursor: pointer;
	justify-self: end;
}

#menu{
	grid-column-start: span 2;
	justify-self: end;
	text-align: right;
	margin-bottom: 30px;
}

#menu ul{
	font-family: 'Space Mono';
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer{
	width: 100%;
	max-width: 1100px;
	font-family: 'Space Mono';
	height: 40px;
	margin: auto;
  margin-top: 35px;
	padding-top: 10px;
}

.detail{
}

#contact-details a.email{
  justify-self: center;
  align-self: center;
  font-family: 'Space Mono';
  font-size: 2em;
}

#contact-details a, #contact-details a:visited{
	color: #000;
	padding: 2px;
	text-decoration: none;
  background-color: #FFF;
}

#contact-details a:hover{
	color: #FFF;
	background: none;
}

.hidden{
	display: none;
}

.divider-bottom{
  border-bottom: 2px solid var(--blue);
}

.three-rows{
  display: grid;
  grid-row-gap: 3px;
  grid-template-rows: 1fr 2fr 1fr;
}

.two-column{
  display: grid;
  column-gap: 6px;
  grid-template-columns: 1fr 1fr;
}

.four-column{
  display: grid;
  column-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-column-ends{
  display: grid;
  column-gap: 3px;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.four-column-back{
  display: grid;
  column-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 3fr;
}

.four-column-front{
  display: grid;
  column-gap: 3px;
  grid-template-columns: 3fr 1fr 1fr 1fr;
	min-height: 0;  /* NEW */
  min-width: 0; 
}

.two-row{
  display: grid;
  grid-row-gap: 6px;
  grid-template-rows: 1fr 10fr;
}

.two-row-button{
  display: grid;
  grid-row-gap: 6px;
  grid-template-rows: 10fr 2fr;
}

.four-square{
  display: grid;
  column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.header-info{
	border-top: 2px solid var(--dark-grey);	
  display: grid;
  column-gap: 3px;
  grid-template-columns: 3fr 1fr;
}

.header-info.selected{
	border-bottom: 2px solid white;
	border-top: 2px solid white;	
}
